body {
    background: url(../images/person1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .container::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(68, 28, 179, 0.753);
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  h4{
    color: white;

  }