.container{

    

}

  #heading{
  border: 1px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 150px;
        padding-left: 120px;

  }
  #borderspan {
    width: 700px;
background-color: #292948;
padding: 60px;
margin-left: 170px;
  opacity: 0.9;

  }
  body {
  color: white;
background-image: url("../images/person1.jpg");

  }
  